@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

.nunito-navbar-home {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Navbar Component */
.navbar-home {
  background-color: none;
  box-shadow: 10px 5px 5px black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
  background-color: none;
}
.nav-title-container a {
  color: black;
  margin: 20px;
  font-size: 25px;
}
.nav-title-container a:hover {
  color: black;
  margin: 20px;
  font-size: 27px;
}
.nav-menu-container {
  display: none;
}

.nav-links-container a {
  margin-right: 3rem;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
}

.list-item-a {
  text-decoration: none;
  color: rgb(98, 96, 96);
}
.list-item-a:hover {
  text-decoration: none;
  color: rgb(33, 32, 32);
}
/* Home section */
.home-text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.primary-heading {
  font-size: clamp(2rem, 5vw, 4rem);
  color: #4c4c4c;
  max-width: 600px;
  margin-top: 20%;
  margin-left: 15px;
}
.primary-text {
  font-size: clamp(1rem, 3vw, 1.5rem);
  max-width: 500px;
  color: #6a6a6a;
  margin: 1.5rem 0rem;
  margin-left: 15px;
}

.home-image-section {
  max-width: 600px;
  flex: 1;
  border-radius: 15px;

  margin-left: 70%;
  margin-top: -20%;
}
.home-image-section,
.about-section-image-container {
  width: 100%;
  max-width: 400px;
}
.home-img {
  border-radius: 120px;
  max-width: 500px;
  width: 250px;
}

.home-img {
}
@media (max-width: 1000px) {
  .nav-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }
  .primary-button {
    font-size: 1rem;
  }
  .home-bannerImage-container {
    max-width: 600px;
  }
  .home-image-section {
    margin: 30%;
  }
}
@media (max-width: 800px) {
  .nav-title-container {
    max-width: 140px;
  }
  .nav-links-container {
    display: none;
  }
  .nav-menu-container {
    display: flex;
  }
  .home-bannerImage-container {
    max-width: 450px;
  }
  .home-banner-container,
  .about-section-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .about-section-container {
    flex-direction: column;
  }
  .home-image-section,
  .about-section-image-container {
    width: 100%;
    max-width: 400px;
  }
  .home-image-section {
    display: none;
  }
  .primary-heading {
    text-align: center;
    max-width: 90%;
  }
  .primary-text {
    text-align: center;
    max-width: 80%;
  }
  .home-text-section,
  .about-section-text-container {
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }
  .secondary-button {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    cursor: pointer;
  }
  .about-section-container {
    margin-top: 5rem !important;
  }
  .about-buttons-container {
    justify-content: center;
    flex-direction: column;
  }
  .primary-subheading {
    text-align: center;
  }
  .watch-video-button {
    margin-left: 0rem !important;
    margin-top: 1rem;
    font-size: 1rem !important;
  }
  .watch-video-button svg {
    margin-right: 0.5rem !important;
  }
  .about-section-image-container {
    margin-right: 0rem !important;
  }
  .work-section-wrapper {
    margin-top: 5rem !important;
  }
  .work-section-bottom {
    margin-top: 1rem !important;
  }
  .contact-form-container {
    padding: 0.5rem !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem !important;
  }
  .contact-form-container input {
    font-size: 1rem !important;
    max-width: 100%;
    padding: 0.5rem 1rem !important;
    margin-bottom: 0.8rem !important;
    text-align: center;
  }
  .footer-wrapper {
    flex-direction: column;
  }
  .footer-section-two {
    flex-direction: column;
    margin-top: 2rem;
  }
  .footer-section-columns {
    margin: 1rem 0rem;
  }
}
@media (max-width: 600px) {
  .home-bannerImage-container,
  .about-background-image-container {
    display: none;
  }
  .home-image-section {
    display: none;
  }
}

@media (max-width: 1000px) {
  .home-bannerImage-container,
  .about-background-image-container {
    display: none;
  }
  .home-image-section {
    display: none;
  }
}

.main-pg {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  /*background-color: var(--darkest);*/
}

.q-box {
  height: 50vh;
  margin-left: -10vh;
}
ul {
  list-style-type: none;
  text-decoration: none;
}

ul li.question {
  position: relative;
  font-size: large;
  font-weight: bolder;
  margin: 2px;
}

ul li.answer {
  margin: 2vh;
}

.home-faq {
  position: relative;
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 35% 0px;
  margin-left: -20%;
}

.home-content-faq {
  display: inline-block;
  /*background-color: rgba(255, 255, 255, 0.2) ;*/
  border-radius: 25px;
  align-items: center;
  width: 80vh;
  margin-bottom: 5vh;
}

.hidden {
  display: none;
}

.q-box {
  background-color: rgb(33, 230, 193, 0.2);
  border-radius: 25px;
  padding: 0.8rem;
  margin: 2vh;
  align-items: center;
  width: 70vh;
  animation: slideRightFAQ 1s linear;
  animation-fill-mode: both;
}

.home-content-faq div:nth-child(1) {
  animation-delay: 0.5s;
}
.home-content-faq div:nth-child(2) {
  animation-delay: 1s;
}
.home-content-faq div:nth-child(3) {
  animation-delay: 1.5s;
}
.home-content-faq div:nth-child(4) {
  animation-delay: 2s;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }

  85% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slideRightFAQ {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.header-text-container,
.event-card-container {
  margin: 6vh;
}

.event-card-container {
  background-color: #e8e8e8;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px rgb(120, 120, 120);
}
.text-container {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #ececec, #f8f8f8, #ffffff);
  padding: 50px;
  position: relative;
  overflow-y: auto;
  height: calc(100vh - 10vh);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
ul,
img {
  padding: 10px;
}

img {
  max-width: 100px;
}
